# Flutter/Dart/Pub related
.dart_tool/
.packages
build/
# Visual Studio Code
.vscode/
# IntelliJ related
.idea/
*.iml
# Generated plugin registrants
flutter_export_environment.sh
# iOS/Android artifacts
ios/
android/
web/
macos/
windows/
linux/
